@media screen and (max-width:1096px) {
    .short-card-wrapper {
        grid-gap: 1rem !important;
    }
}

@media screen and (max-width: 1045px) {
    .main-nav-wrapper {
        flex-direction: column;
    }
    .main-nav-wrapper .main-nav ul {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:1036px) {
    .footer-card-wrapper .footer-card h2 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:1000px) {
    .short-card-wrapper {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media screen and (max-width:931px) {
    .checkout-wrapper .left .left-side-customer-info .new-customer-side-wrapper .new-customer-side-right .forget-pass {
        margin-bottom: 7rem !important;
    }
}

@media screen and (max-width:904px) {
    .footer-card-wrapper .footer-card h2 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 853px) {
    .footer-card-wrapper {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media screen and (max-width: 839px) {
    .checkout-wrapper {
        flex-direction: column;
    }
    .checkout-wrapper .left {
        margin-right: 0 !important;
        margin-bottom: 5rem;
    }
    .checkout-wrapper .left .left-side-customer-info .new-customer-side-wrapper .new-customer-side-right .forget-pass {
        margin-bottom: 5rem !important;
    }
    .checkout-wrapper .right {
        width: 100% !important;
    }
}

@media screen and (max-width: 837px) {
    .top-nav-wrapper {
        flex-direction: column;
    }
    .top-nav-wrapper .top-nav ul {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 828px) {
    .links-wrapper {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 817px) {
    .main-nav-wrapper .main-nav ul li {
        margin-right: 0.2rem !important;
    }
}

@media screen and (max-width: 740px) {
    .main-nav-wrapper .main-nav ul {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
    .main-contact-wrapper {
        flex-direction: column;
    }
    .main-contact-wrapper .left button {
        margin-bottom: 2rem;
    }
    .main-contact-wrapper .left {
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 626px) {
    .top-nav-wrapper .top-nav ul {
        flex-direction: column;
    }
    .top-nav-wrapper .top-nav ul li {
        margin-bottom: 2rem;
    }
    .top-nav-wrapper .top-nav ul li:last-child {
        margin-bottom: 0;
    }

    .checkout-wrapper .left .left-side-customer-info .new-customer-side-wrapper{
        display: flex !important;
        flex-direction: column;
        text-align: center;
    }
    .checkout-wrapper .left .left-side-customer-info .new-customer-side-wrapper .new-customer-side-left{
        margin-bottom: 5rem;
    }
}
@media screen and (max-width: 484px) {
    .short-card-wrapper {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}
@media screen and (max-width: 465px) {
    .logo-part-wrapper {
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .main-nav-wrapper .main-nav ul {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 452px) {
    .brand-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
    .footer-card-wrapper {
        grid-template-columns: repeat(1,1fr) !important;
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 414px) {
    .links-wrapper .left-links {
        flex-direction: column;
        align-items: center;
    }
    .links-wrapper .right-links {
        flex-direction: column;
        align-items: center;
    }
    .links-wrapper .left-links h2 {
        margin-bottom: 1rem;
    }
    .links-wrapper .right-links h2 {
        margin-bottom: 1rem;
    }
    .links-wrapper .left-links div {
        margin-right: 0rem !important;
    }
    .links-wrapper .right-links div {
        margin-right: 0rem !important;
    }
}